html,
body {
    margin:0;
    padding:0;
    background: #fff;
}

p#customisable-link {
    margin: 2em;
}

#currentscorecontainer {
    position:absolute;
    top: -10px;
    left: 0;
    color:#fff;
    padding-left : 10px;
}

#topscorecontainer {
    position: absolute;
    top: -10px;
    right: 10px;
    color:#fff;
}

#endtext {
    position:absolute;
    left : 10px;
    bottom: 0px;
    margin: 0;
    color:#fff;
    font-weight:bold;
    font-family:Georgia, Arial, sans-serif;
    font-size : 1.4em;
}

#fineprint {
    left : 0px;
    bottom: 0px;
    margin: 0;
    color:#222;
    font-weight:bold;
    font-family:Georgia, Arial, sans-serif;
    font-size : 0.8em;
}